@import "common/media_queries";


.view-group-modal {
  .view-group-top-section {
    padding: 12px 0px 10px 30px;
    text-align: right;
    .close-btn {
      .close-btn-icon {
        cursor: pointer;
        font-size: 30px;
        color: #010101;
        &:hover { color: #ED1C24; }
      }
    }
  }
  .view-group-content {
    width: 500px;
    padding: 0px 50px 40px 50px;
    @include mobile {
      width: 100%;
      padding: 0;
    }
    .category-name {
      text-align: center;
      font-family: "Express Sans Regular", sans-serif;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .category-city {
      margin-top: 20px;
      font-family: "Express Sans Regular", sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
    }
    .category-descr-title {
      margin-top: 20px;
      font-family: "Express Sans Regular", sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
    }
    .category-descr-text {
      margin-top: 12px;
      font-family: "Express Sans Regular", sans-serif;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 20px;
      p {
        font-family: "Express Sans Regular", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
        margin-top: 5px;
      }
    }
    .category-link-text {
      margin-top: 5px;
      text-align: center;
      a {
        font-family: "Express Sans Regular", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
        outline: none;
      }
    }
  }
}
