<section class="change-category-modal">
  <div class="change-category-top-section">
    <div class="close-btn">
      <i class="material-icons close-btn-icon" (click)="closeModal()">close</i>
    </div>
  </div>
  <div class="change-category-content">
      <div class="change-category-title"> Change Preferred Category </div>
      <div class="select-input-section">
        <mat-form-field class="mat-form-field select-field">
          <mat-select placeholder="Select Preferred Category" [(value)]="selected_category" [disableRipple]="true">
            <mat-option *ngFor="let cat of categories" [value]="cat">
              {{cat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="next-btn" (click)="savePreferredCategory()">Save</button>
      </div>
  </div>
</section>
