@import "common/media_queries";

.change-category-modal {
  .change-category-top-section {
    padding: 12px 0px 10px 30px;
    text-align: right;
    .close-btn {
      .close-btn-icon {
        cursor: pointer;
        font-size: 30px;
        color: #010101;
        &:hover { color: #ED1C24; }
      }
    }
  }
  .change-category-content {
    width: 300px;
    padding: 0px 50px 40px 50px;
    @include mobile {
      width: 100%;
      padding: 0;
    }
    .change-category-title {
      font-family: "Express Sans Regular", sans-serif;
      font-size: 15px;
      text-align: center;
      letter-spacing: 2px;
      line-height: 20px;
      text-transform: uppercase;
    }
    .select-input-section {
      text-align: center;
      margin-top: 25px;
      .mat-form-field {  width: 100%;  height: initial; }
      .next-btn {
        width: 160px;
        height: 40px;
        margin-top: 20px;
        text-transform: uppercase;
        &:hover { background-color: rgba(0, 0, 0, .1); }
      }
    }
  }
}
