@import "common/media_queries";

.other-categories-page {
  width: 100vw;
  overflow-x: hidden;
  .other-categories-body {
    width: 100vw;
    position: relative;
    padding: 6% 6% 0% 6%;
    box-sizing: border-box;
    .other-categories-title {
      font-family: 'Express Sans Regular', sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      line-height: 30px;
      letter-spacing: 4px;
    }
    .check-input-section {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
      padding-left: 12%;
      justify-content: center;
      @include mobile {
        margin-top: 45%;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: 0;
      }
      mat-checkbox {
        width: 220px;
        margin: 1%;
        font-family: "Express Sans Regular", sans-serif;
        font-size: 14.5px;
      }
    }
    .btn-section {
      margin: 40px 0px;
      text-align: center;
      .btn {
        width: 180px;
        height: 45px;
        font-family: "Express Sans Regular", sans-serif;
        text-transform: uppercase;
        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
      .next-back {
        margin-right: 20px;
        @include mobile {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
      .next-btn {
        margin-left: 20px;
        @include mobile {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
  .loader-icon {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .preferred-category-section {
    position: fixed;
    top: 25%;
    left: 0;
    min-width: 15%;
    min-height: 100px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    @include mobile {
      position: absolute;
      width: 100%;
      top: 130px;
      background-color: white;
      box-shadow: none;
      padding: 0px;
    }
    .preferred-title {
      font-family: "Express Sans Regular", sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 0px 5px 0px;
    }
    .preferred-sub-title {
      font-family: "Express Sans Regular", sans-serif;
      font-size: 11px;
      line-height: 18px;
      text-align: center;
      padding-bottom: 2px;
    }
    .preferred-cat {
      text-align: center;
      padding-bottom: 13px;
      .preferred-cat-btn {
        font-family: "Express Sans Regular", sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
