@import "common/media_queries";

.landing-page {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  .landing-page-body {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 6% 6% 0% 6%;
    box-sizing: border-box;
    .landing-page-title {
      font-family: 'Express Sans Regular', sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      line-height: 30px;
      letter-spacing: 4px;
    }
    .select-input-section {
      text-align: center;
      margin: 200px auto auto auto;
      width: 350px;
      @include mobile {
        width: 100%;
      }
      .mat-form-field {
        width: 100%;
        height: initial;
      }
      .next-btn {
        width: 160px;
        height: 40px;
        margin: 20px 0px;
        text-transform: uppercase;
        &:hover { background-color: rgba(0, 0, 0, .1); }
      }
    }
  }
  .loader-icon {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}
