/*
	* THIS MEDIA QUERY STYLE MIXIN
	* START FROM DESKTOP TO MOBILE
	* Eg: .example {
						font-size: 50px;     ---> this is a larger desktop
						@include sm-desktop {
								font-size: 30px;
						}
						@include tablet {
								font-size: 20px;
						}
						@include mobile {
								font-size: 15px;
						}
						 @include sm-mobile {
								font-size: 8px;
						}
				}
 */


 $small-mobile-width: 360px;
 $mobile-width: 600px;

 $sm-tablet-width: 768px;
 $tablet-width: 840px;
 $large-tablet-width: 959px;

 $sm-desktop-width: 1024px;
 $desktop-width: 1280px;
 $large-desktop-width: 1440px;
 $larger-desktop-width: 1920px;

 @mixin sm-mobile {
	@media (max-width: #{$small-mobile-width}) {
		@content;
	}
}

@mixin mobile {
	@media  (max-width: $mobile-width) {
		@content;
	}
}

 @mixin sm-tablet-max {
	@media (max-width: #{$sm-tablet-width})  {
		@content;
	}
 }

 @mixin md-tablet-max {
	@media (max-width: #{$tablet-width})  {
		@content;
	}
 }

 @mixin tablet-max {
	@media (max-width: #{$large-tablet-width})  {
		@content;
	}
 }

 @mixin sm-desktop-max {
	@media (max-width: #{$sm-desktop-width}) {
		@content;
	}
 }

 @mixin desktop-max {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
 }

 @mixin large-desktop-max {
	@media (max-width: #{$large-desktop-width}) {
		@content;
	}
 }

 @mixin larger-desktop-1 {
	@media (min-width: #{$large-desktop-width + 1px}) {
		@content;
	}
 }

@mixin custom-query($max) {
	@media (max-width: $max) { @content; }
}

@mixin custom-query-max($max) {
    @media (max-width: $max) { @content; }
}
